@media screen and (max-width: 770px) {
    header {
        justify-content: space-between;
    }
    p {
        text-align: left;
    }
    #hh3 {
        text-align: left;
        margin-left: 10px;
    }

    .logo {
        margin-right: 20px;
    }
    .burger {
        display: block;
        margin-left: 10px;
    }
    .instructions {
        width: 98%;
    }
    .select-div {
        width: 98%;
        flex-direction: column;
    }
    .members {
        width: 98%;
        flex-direction: column;
    }
    .select-div div+div {
        margin-top: 10px;
    }
}